/* Fonts */

@font-face {
  font-family: "PTSans";
  src: local("PTSans"), 
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Bold";
  src: local("PTSans-Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-gray: #333333;
  --basic-gray-catalog: #E5E5E5;
  --basic-brown: #766357;
  --basic-light-gray: #F2F2F2;
  --basic-pale-gray: #EEEEEE;
  --special-gray-catalog: #666666;
  --special-blue: #669EC0;
  --special-blue-dark: #5496BD;
  --special-brown: #604E43;
  --special-brown-dark: #503E33;

}

/* Global */

.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-gray);
  background-color: var(--basic-white);
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-subtitle {
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

/* Grid */
.page {
height: 100%;
background-color: var(--basic-light-gray);
}

/* Grid for pages */

.page-catalog{
  display: grid;
  grid-template-rows: 217px 86px 1fr;
  grid-template-columns: 73px 1fr 73px;
  align-content: start;
}

.page-catalog .filters{
  grid-column: 1 / -1;
}

.page-catalog .sorting {
  grid-column: 2 / -2;
}

.page-catalog .hotel {
  grid-column: 1 / -1;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

/* Main navigation */

.main-navigation {
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo{
  position: absolute;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1054px;
  margin: 14px 0 16px 0;
  display: flex;
  justify-content: space-between;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}



/* Welcome */

.welcome {
  background-color: var(--basic-blue);
  background-image: url(../img/bg_index.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  max-width: 100%;
  height: 509px;
}

.welcome-image {
  margin-top: 78px;
}

/* Description-city */

.description-city {
  text-align: center;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 52px;
}

.description-city-text {
  line-height: 26px;
  margin: 44px 0 0 0;
}

/* Features */

.features-list {
  display: grid;
  grid-template-rows: 256px 330px 256px 256px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-items-row-1{
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.feature-items-row-1 img {
  grid-column: 2 / 4;
}

.feature-items-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-items-row-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-items-row-3 div {
  grid-column: 3 / 4;
}

.feature-items-row-3 img {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.feature-items-row-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-items-content {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
}

.feature-items-list-color {
  background-color: var(--basic-pale-gray);
}

.feature-items-content-title {
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-white);
  text-align: center;
  margin: 0;
  padding-top: 47px;
}

.feature-items-content-text {
  margin: 0;
  padding: 0;
}

.feature-items-content-number {
  display: block;
  margin-top: 25px;
  margin-bottom: 23px;
}

.feature-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-items-list-item {
  text-align: center;
}

.feature-items-list-item p {
  padding: 0;
  margin-top: 25px;
}

.feature-items-list-title{
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
  margin: 28px 0 0 0;
}

.feature-items-img {
  max-width: 100%;
  height: auto;
}

.feature-items-list-icon {
  margin-top: 60px;
}

/* Search */

.search {
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
}

.search-title {
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-size: 30px;
  color: var(--basic-black);
  margin-top: 60px;
  margin-bottom: 41px;
}

.search-text {
  margin-top: 0px;
  margin-bottom: 48px;
}

.search-item {
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: left;
  padding-bottom: 41px;
  padding-left: 55px;
  margin: 0px;
}

.search-item input {
  background-color: var(--basic-light-gray);
  outline: none;
  border: none;
}

.search-form {
  margin: 0 auto;
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}


/* Map */

.map {
  text-align: center;
  margin: 0;
  padding: 0;
}

.map-img {
  max-width: 100%;
  height: auto;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 73px 327px 1fr 327px 73px;
  height: 120px;
}

.footer-contacts {
  grid-column: 2 / 3;
  text-align: center;
  margin: 23px 0 0 0;
  padding: 0;
}

.footer-social{
  list-style: none;
  grid-column: 3 / 4;
  margin: 36px 0 0 0;
  padding: 0;
  text-align: center;
}

.footer-copyright {
  grid-column: 4 / 5;
  text-align: center;
  margin-top: 38px;
}

.contacts-subtitle {
  display: block;
  padding-bottom: 9px;
}

.footer-phone {
  text-decoration: none;
}

.footer-copyright-text {
  display: inline-block;
  margin-right: 8px;
  padding-bottom: 20px;
  vertical-align: middle;
}


/* Filters */

.filters {
  background-color: var(--basic-blue);
  background-image: url(../img/bg_catalog.jpg);
}

.filter-title{
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 30px;
}

.filter-checkbox,
.filter-cost {
  border: none;
  margin: 30px 0 0 0;
  padding: 0 0 0 73px;
}

.filter-list{
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.filter-option {
  padding-bottom: 25px;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

/* Sorting */

.sorting {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sorting-text {
  font-size: 12px;
  line-height: 18px; 
  color: var(--basic-black);
}

.sorting-list {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.sorting-list-item a{
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none; 
  border-bottom: 1px dashed;
  border-color: var(--basic-blue);
  opacity: 30%;
}

.sorting-list-item a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed;
  border-color: var(--basic-blue);
  opacity: 100%;
}

.sorting-list-item a:focus {
  color: var(--basic-black);
  border-bottom: none;
  opacity: 100%;
}

/* Catalog */

.hotel-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-list-items {
  padding: 30px 73px;
  border-top: 1px solid var(--basic-gray-catalog);
  border-bottom: 1px solid var(--basic-gray-catalog);
}

.hotel-list-item {
  width: 100%;
  border-collapse: collapse;
}

.hotel-img {
  width: 135px;
  padding-right: 29px;
}

.hotel-list-text {
  width: 110px;
  vertical-align: top;
}

.hotel-rating {
  background-color: var(--basic-light-gray);
  text-align: center;
  vertical-align: middle;
  color: var(--special-gray-catalog);
  width: 110px;
}

.hotel-star{
  color: var(--basic-blue);
  text-align: right;
}

.hotel-list-reserve {
  vertical-align: middle;
  padding-left: 6px;
}

.hotel-list-text-cost{
  vertical-align: top;
  padding-left: 6px;
}

.hotel-item-title {
  padding: 0;
  vertical-align: top;
}

.hotel-item-title a{
  text-decoration: none;
}

.hotel-item-title:hover {
  color: var(--basic-blue);
}

.hotel-item-title:focus {
  opacity: 30%;
}


/* Button */

.button {
  font-family: "PTSans-Bold";
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.button-search {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
}

.button-search:hover {
  background-color: var(--special-brown);
}

.button-search:focus {
  background-color: var(--special-brown-dark);
}

.button-find{
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
}

.button-find:hover {
  background-color: var(--special-blue);
}

.button-find:focus {
  background-color: var(--special-blue-dark);
}

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-decoration: none;
}

.social-button:hover {
  background-color: var(--special-blue);
}

.social-button:focus {
  background-color: var(--special-blue-dark);
}

.buttom-filter {
  background-color: Transparent;
  border: 2px solid;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  height: 36px;
  width: 137px;
  text-transform: uppercase;
}

.buttom-filter:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: none;
}

.button-detail {
  display: inline-block;
  padding: 3px 17px;
  margin-right: 6px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-detail:hover {
  background-color: var(--special-blue);
}

.button-detail:focus {
  background-color: var(--special-blue-dark);
}

.button-reserve {
  display: inline-block;
  padding: 3px 17px; 
  color: var(--basic-white);
  background-color: var(--basic-brown);  
}

.button-reserve:hover {
  background-color: var(--special-brown);
}

.button-reserve:focus {
  background-color: var(--special-brown-dark);
}